<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>繁榮經濟</string>
	<string>全人教育</string>
	<string>和諧城鄉</string>
	<string>安心社會</string>
	<string>保育環境</string>
	<string>多元文化</string>
</array>
</plist>
